.video-box {
    margin: 40px 60px;
    background: #444444;
    color: #fff;
    height: 580px;
}

.video-box-padd {
    padding: 10px;
}

.tc-list-item {
    margin-bottom: 20px;
    margin-right: 20px;
}

.teacher-item {
    width: 280px;
    height: 450px;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
}

.teacher-item:hover {
    border: 2px solid #ccc;
}

.teacher-item.teacher-item-active {
    border: 2px solid #FF5C00;
}

.teacher-item-img {}

.teacher-item-img img {
    width: 100%;
}

.video-box-hd {
    height: 50px;
    line-height: 50px;
}

.video-box-bd {
    height: 510px;
    position: relative;
}

.video-box-bd-left {
    width: 250px;
}
.video-box-bd-right{
    width: 810px;
}

.video-list {
    height: 460px;
    overflow: auto;
    width: 240px;
    background: #585858;
}

.video-list-item {
    overflow: hidden;
    padding: 5px;
}

.video-list-item:hover {
    background: #999;
}

.video-list-item-img {
    width: 90px;
    float: left;
}
.video-list-item-img img{
  width: 90px;
}

.video-list-item-desc {
    float: left;
    width: 140px;
    padding-left: 10px;
    text-align: left;
}